<nav class="navbar navbar-expand-sm bg-light navbar-light">
	
  <a class="navbar-brand" href="/">My Album</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/users/sign_in">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_up">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/sign_up">Logout</a>
    </li>
  </ul>
</nav>
